.design{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: 260px;
  
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

    

















/* FACERECOGNITION */
/* .design{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 260px;
    
  }
   .bounding-box{
    position: absolute;
    box-shadow: 0 0 0 2px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  
   } */